.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.required-b::before {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}
.user{
  width:100%;
}
.user .user-nav {
  box-sizing: border-box;
  padding: 30px 15px;
}
.user .user-nav-pc {
  height: 100vh;
}
.active > a{
  color: #4a90e2;
}
.user .user-nav-pc .active {
  border-right: 3px solid #4a90e2;
}
.user .user-view {
  background-color: #F6F8F9;
  border-left: 2px solid #e2e2e2;
}
.user .user-nav-mobile .active {
  border-bottom: 3px solid #4a90e2;
}
.user .user-nav-mobile li {
  float: left;
}
.user .user-nav li {
  font-size: 18px;
  padding: 10px;
}
.user .user-view-box {
  max-width: 880px;
  background-color: #fff;
  border: 1px solid #eaedef;
  margin: 30px auto;
}
.user .update-content {
    border-bottom: 1px solid #eaedef;
    padding: 20px;
    margin: 0 15px;
    font-size: 16px;
}
div.field, div.actions {
  margin-bottom: 10px;
}
